{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container-fluid">
         <p><a href="{% url 'list-unpolished-pack-board' %}">Вернуться назад</a></p>
                <form method="post">
                        {% csrf_token %}

                        {% for f in form %}

                            <div class="form-group row">
                                <label for="{{ f.id_for_label }}" class="col-sm-4 col-form-label">{{f.label}}:</label>
                                    <div class="col-sm-3">
                                      {{ f }}
                                    </div>

                            </div>
                            <div class="form-error"> {{ f.errors }}</div>

                        {% endfor%}

                    <span>{{ error }}</span>
                    <button class="btn mb-2 btn-success" type="submit">Сохранить</button>
                </form>
</div>
{% endblock %}
