asgiref==3.2.10
backports.zoneinfo==0.2.1
boto==2.49.0
certifi==2022.6.15
charset-normalizer==2.1.0
dj-database-url==0.5.0
Django==3.1
django-appconf==1.0.5
django-debug-toolbar==3.2.1
django-environ==0.9.0
django-filter==2.4.0
django-heroku==0.3.1
django-heroku-connect==0.25.0
django-heroku-postgresify==0.4.1
django-require==1.0.11
gunicorn==20.1.0
idna==3.3
Pillow==8.2.0
psycopg-binary==3.0.15
psycopg2==2.9.3
psycopg2-binary==2.9.3
pytz==2021.1
requests==2.28.1
sh==1.14.2
sqlparse==0.4.1
urllib3==1.26.9
waitress==2.1.2
