{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <a class="p-2 mb-2 text-dark btn btn-outline-primary" href="{% url 'create-number-tapes' %}" >Новая запись</a>
    <a class="p-2 mb-2 text-dark btn btn-outline-primary" href="{% url 'home' %}">Вернуться назад</a>
    <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class=" p-2 mb-2 text-dark btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Показать записи за:
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="{% url 'news_filter' pk=1 %}">Неделя</a>
      <a class="dropdown-item" href="{% url 'news_filter' pk=2 %}">Месяц</a>
      <a class="dropdown-item" href="{% url 'news_filter' pk=3 %}">Все</a>
    </div>
  </div>

    {% if messages %}
        <div class="p-2 mt-2 alert alert-success text-center">
            {% for n in messages %}
            {{n}}
            {% endfor %}
        </div>
    {% endif %}

    <table class="table table-striped table-hover th1 table-sm">
      <thead>
         <tr>
                <th colspan="1" class="align-middle" style="width:105px">№ смены</th>
                <th colspan="1" class="align-middle" style="width:220px">Дата создания</th>
                <th colspan="1" class="align-middle">K</th>
                <th colspan="1" class="align-middle">F</th>
                <th colspan="1" class="align-middle">N</th>
                <th colspan="1" class="align-middle" style="width:220px">Дата редактирования</th>
         </tr>

        </thead>
      <tbody>
             <tr>
                {% for i in list_value %}
                <tr {% if i.id|slugify == request.GET.id %} class="table-active" {% endif %}>
                    <td class="align-middle"> {{ i.author.last_name }}</td>
                    <td class="align-middle">{{ i.date_created|date:'d.m.Y H:i' }}</td>
                    <td>

                        {{ i.number_1_1_choices|default_if_none:"" }} - {{ i.number_1_1_choices2|default_if_none:"" }}
                        - {{ i.value0|default_if_none:"" }}
                        <div class="w-100"></div>
                        <br>
                        {{ i.number_1_2_choices|default_if_none:"" }} - {{ i.number_1_2_choices2|default_if_none:"" }}
                        - {{ i.value1|default_if_none:"" }}
                    </td>
                    <td>{{ i.number_2_1_choices|default_if_none:"" }} - {{ i.number_2_1_choices2|default_if_none:"" }}
                        {{ i.liner_2_1_choices|default_if_none:"" }} {{ i.value2|default_if_none:"" }}
                        <br>
                        {{ i.number_2_2_choices|default_if_none:"" }} - {{ i.number_2_2_choices2|default_if_none:"" }}
                        {{ i.liner_2_2_choices|default_if_none:"" }} - {{ i.value3|default_if_none:"" }}
                    </td>
                    <td>{{ i.number_2_3_choices|default_if_none:"" }} - {{ i.number_2_3_choices2|default_if_none:"" }}
                        {{ i.liner_2_3_choices|default_if_none:"" }} - {{ i.value4|default_if_none:"" }}
                        <br>
                        {{ i.number_2_4_choices|default_if_none:"" }} - {{ i.number_2_4_choices2|default_if_none:"" }}
                        {{ i.liner_2_4_choices|default_if_none:"" }} - {{ i.value5|default_if_none:"" }}
                    </td>

                  <td class="align-middle">{{ i.date_update|date:'d.m.Y H:i' }}</td>
                    <td class="align-middle">
                         <a href="{% url 'update-number-tapes' i.id %}">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                     <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                 </svg>
                         </a></td>
                    <td class="align-middle">
                        {% if request.user == i.author %}
                         <a href="{% url 'delete-number-tapes' i.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                         {% else%}
                        ---
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

