{% extends 'main/base.html' %}
{% block title %}
Толщина плиты
{% endblock %}
<div class="container">
{% block content %}
     <p><a href="{% url 'home' %}">Вернуться назад</a></p>

                    <div class="form-control-test">
                        {{ profile.user }}<br>
                        {{ profile.value2 }}<br>
                        {{ profile.name_form1 }}<br>
                    </div>


                    <span>{{ error }}</span><br>
                    <button class="btn btn-success" type="submit">Сохранить</button>
                    <button type="submit" class="btn btn-success"><a
                            href="{% url 'update_profile_page' user.id %}">Редактировать</a></button>
        <div class="row">
<!--            {{ profile.value3.value }}<br>-->

        {% for m in menu %}
            {% if m.title_place == profile.value3 %}
                        <div class="card border-primary mb-3 m-1" style="max-width: 180px; max-height: 180px">
                            <div class="card-header">ПДСП</div>
                            <div class="card-body">
                                <p class="card-text"><a class="btn btn-link" href="{% url m.url_name %}" >{{ m.name_form }}</a></p>
                            </div>
                        </div>
            {% else %}
            {% endif %}
        {% endfor %}

</div>

{% endblock %}

</div>